/* --- Main Library View --- */
/* Play Button */
[class*="appportrait_Play_1"]
{
	border-radius: var(--button_radius) !important;
}

[class*="appportrait_Download_"]
{
	border-radius: var(--button_radius) !important;
}

/* Rounded Corners on Game Logos */
[class*="appportrait_LibraryItemBox_"],
[class*="libraryhomenewupdates_PartnerEventRowCapsule_MainImageContainer_"],
[class*="appportraithover_AppPortraitHover_"],
[class*="appportraithover_CapsuleBackgroundContainer_"]
{
	border-radius: var(--card_radius) !important;
}

[class*="appportrait_LibraryItemBox_"][class*="appportrait_FeaturedCapsule_"] [class*="libraryassetimage_Image_"]
{
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

/* Game Hours Subscript */
[class*="appportrait_LibraryItemBoxSubscript_"]
{
	background: var(--toast_bg) !important;
	border-radius: var(--toast_border_radius) !important;
	margin-top: -20px !important;
}

/* New to Library */
[class*="appportrait_AppPortraitBannerContainer_"]
{
	top: 1px !important;
}

[class*="appportrait_AppPortraitBannerContainer_"] [class*="appportrait_AppPortraitBanner_"]
{
	background: var(--accent_bg) !important;
	border-bottom-left-radius: var(--card_radius) !important;
	border-bottom-right-radius: var(--card_radius) !important;
}

/* Update Summary */
[class*="libraryhomenewupdates_HoversEnabled_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"]
{
	border-radius: var(--card_radius);
}

[class*="gamelistentry_Installed"]
{
	color: var(--fg) !important;
}

[class*="collapseicon_CollapseIconParent_"] [class*="collapseicon_Container_"]
{
	stroke: var(--fg) !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"]
{
	color: var(--accent) !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] svg line, 
[class*="libraryhomeshowcases_AddShowcaseRow_"] svg circle
{
	stroke: var(--accent) !important;
}

._DialogInputContainer
{
	color: var(--accent_fg) !important;
}

[class*="appgrid_SortingDropDown_"] [class*="appgrid_SortingDropDownLabel_"]
{
	color: var(--fg) !important;
}

[class*="libraryhomenewupdates_Event_Title_"] [class*="libraryhomenewupdates_PartnerEventRowCapsule_TextTitle_"]
{
	color: var(--popover_fg) !important;
}

[class*="libraryhomenewupdates_GameIconAndName_"]
{
	background-color: var(--headerbar_bg) !important;
}

[class*="libraryhomenewupdates_GameIconAndName_"] [class*="libraryhomenewupdates_GameName_"]
{
	color: var(--accent_fg) !important;
}

.SVGIcon_Button > * {
	stroke: var(--accent) !important;
}

[class*="appportrait_LibraryItemBoxSubscript_"]
{
	color: var(--accent_fg) !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_Label_"] {
	color: var(--accent_bg) !important;
}

[class*="gamelisthome_Selected_"] [class*="gamelisthome_Label_"] {
	color: var(--accent) !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"] [class*="libraryhomenewupdates_EventSummaryText_"]
{
	color: var(--fg) !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_Icon_"]
{
	fill: var(--accent_bg) !important;
}

[class*="gamelisthome_Bar_"] [class*="gamelisthome_Icon_"]
{
	fill: var(--accent) !important;
}

[class*="appdetailsplaysection_MenuButton_"] [class*="appdetailsplaysection_DotDotDot_"] .SVGIcon_Information .I
{
	fill: var(--accent) !important;
}

[class*="appdetailsplaysection_MenuButton_"] SVGIcon_Settings path
{
	fill: var(--accent) !important;
}

[class*="appdetailsplaysection_GameStatRight_"] > * 
{
	color: var(--fg) !important;
}

[class*="appdetailsplaysection_PlayBarDetailLabel_"] [class*="appdetailsplaysection_AchievementCountLabel_"]
{
	color: var(--fg) !important;
}

